@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&display=swap');

/* SCSS HEX */
$raisin-black: #201e1fff;
$coquelicot: #ff4000ff;
$atomic-tangerine: #faaa8dff;
$antique-white: #feefddff;
$moonstone: #50b2c0ff;


// common styles================
body{
    font-family: 'Poppins', sans-serif;
}
// header styles
@mixin fontStyle($fontSize, $color, $fontWeight, $topSpace, $bottomSpace) {
    font-size: $fontSize;
    color: $color;
    font-weight: $fontWeight;
    padding-top: $topSpace;
    padding-bottom: $bottomSpace;
}
.h1{
    @include fontStyle(30px, $moonstone, 700, 30px, 20px)  
}
.bodyCopy{
    @include fontStyle(15px, $raisin-black, 400, 0px, 30px)  
}
